
PROJECT_NAME = rvxOS
PROJECT_ROOT = $(HOME)/Codelib/$(PROJECT_NAME)
SYSROOT = $(PROJECT_ROOT)/sysroot
COMPILE_TEMP_DIR = $(PROJECT_ROOT)/temp

TARGET_PLATFORM = riscv64
HOST = linux
MIDFIX = gnu
ARCH = rv64imafdv_zicsr
ABI	= lp64

USR = $(SYSROOT)/usr
EXEC_PREFIX = $(USR)
SYS_CRT_DIR = $(SYSROOT)/bin
USR_CRT_DIR = $(USR)/bin
USR_LIB_DIR = $(USR)/lib
SYS_BOOT_DIR = $(SYSROOT)/boot
USR_INCLUDE_DIR = $(USR)/include

CROSS_COMPILE ?= $(TARGET_PLATFORM)-$(HOST)-$(MIDFIX)
ARCH_AC = $(CROSS_COMPILE)-gcc
ARCH_CC = $(CROSS_COMPILE)-gcc
ARCH_XC =
ARCH_LD = $(CROSS_COMPILE)-ld
ARCH_DB = $(CROSS_COMPILE)-gdb

EMU = qemu-$(TARGET_PLATFORM)
SYS_EMU = qemu-system-$(TARGET_PLATFORM)
