
ENABLED_AC_MACROS =
ENABLED_CC_MACROS = -DXTYPES_USING_STDC_TYPE -DXDEF_USING_C_STD_DEF
ENABLED_XC_MACROS =

KERNEL_ARCH_ACFLAGS = -c -g -Wall -Wextra -march=$(ARCH) -mabi=$(ABI) -fno-builtin \
    -ffreestanding -nodefaultlibs -nostdlib -static --sysroot=$(SYSROOT) -O3 $(ENABLED_AC_MACROS)
KERNEL_ARCH_CCFLAGS = -c -g -Wall -Wextra -march=$(ARCH) -mabi=$(ABI) -std=c17 -fno-builtin \
	 -ffreestanding -nodefaultlibs -nostdlib -static --sysroot=$(SYSROOT) -O3 $(ENABLED_CC_MACROS)
KERNEL_ARCH_XCFLAGS =
KERNEL_ARCH_LDFLAGS = --no-pie --no-dynamic-linker -static -z separate-code -T $(KERNEL_ROOT)/kernel.ld -O3
KERNEL_ARCH_EMUFLAGS = -machine virt -bios none -smp 1 -m 256M
